gen/catalog_service/client.go
gen/catalog_service/endpoints.go
gen/catalog_service/service.go
gen/catalog_service/views/view.go
gen/download_service/client.go
gen/download_service/endpoints.go
gen/download_service/service.go
gen/download_service/views/view.go
gen/geoserver/client.go
gen/geoserver/endpoints.go
gen/geoserver/service.go
gen/geoserver/views/view.go
gen/geoserver_data/client.go
gen/geoserver_data/endpoints.go
gen/geoserver_data/service.go
gen/geoserver_data/views/view.go
gen/http/openapi.json
gen/http/openapi.yaml
gen/http/catalog_service/client/cli.go
gen/http/catalog_service/client/client.go
gen/http/catalog_service/client/encode_decode.go
gen/http/catalog_service/client/paths.go
gen/http/catalog_service/client/types.go
gen/http/catalog_service/server/encode_decode.go
gen/http/catalog_service/server/paths.go
gen/http/catalog_service/server/server.go
gen/http/catalog_service/server/types.go
gen/http/cli/bo/cli.go
gen/http/download_service/client/cli.go
gen/http/download_service/client/client.go
gen/http/download_service/client/encode_decode.go
gen/http/download_service/client/paths.go
gen/http/download_service/client/types.go
gen/http/download_service/server/encode_decode.go
gen/http/download_service/server/paths.go
gen/http/download_service/server/server.go
gen/http/download_service/server/types.go
gen/http/geoserver/client/cli.go
gen/http/geoserver/client/client.go
gen/http/geoserver/client/encode_decode.go
gen/http/geoserver/client/paths.go
gen/http/geoserver/client/types.go
gen/http/geoserver/server/encode_decode.go
gen/http/geoserver/server/paths.go
gen/http/geoserver/server/server.go
gen/http/geoserver/server/types.go
gen/http/geoserver_data/client/cli.go
gen/http/geoserver_data/client/client.go
gen/http/geoserver_data/client/encode_decode.go
gen/http/geoserver_data/client/paths.go
gen/http/geoserver_data/client/types.go
gen/http/geoserver_data/server/encode_decode.go
gen/http/geoserver_data/server/paths.go
gen/http/geoserver_data/server/server.go
gen/http/geoserver_data/server/types.go
gen/http/openapi/client/client.go
gen/http/openapi/client/encode_decode.go
gen/http/openapi/client/paths.go
gen/http/openapi/client/types.go
gen/http/openapi/server/encode_decode.go
gen/http/openapi/server/paths.go
gen/http/openapi/server/server.go
gen/http/openapi/server/types.go
gen/http/sma_config/client/cli.go
gen/http/sma_config/client/client.go
gen/http/sma_config/client/encode_decode.go
gen/http/sma_config/client/paths.go
gen/http/sma_config/client/types.go
gen/http/sma_config/server/encode_decode.go
gen/http/sma_config/server/paths.go
gen/http/sma_config/server/server.go
gen/http/sma_config/server/types.go
gen/http/transformation_service/client/cli.go
gen/http/transformation_service/client/client.go
gen/http/transformation_service/client/encode_decode.go
gen/http/transformation_service/client/paths.go
gen/http/transformation_service/client/types.go
gen/http/transformation_service/server/encode_decode.go
gen/http/transformation_service/server/paths.go
gen/http/transformation_service/server/server.go
gen/http/transformation_service/server/types.go
gen/http/view_service/client/cli.go
gen/http/view_service/client/client.go
gen/http/view_service/client/encode_decode.go
gen/http/view_service/client/paths.go
gen/http/view_service/client/types.go
gen/http/view_service/server/encode_decode.go
gen/http/view_service/server/paths.go
gen/http/view_service/server/server.go
gen/http/view_service/server/types.go
gen/http/viewer/client/cli.go
gen/http/viewer/client/client.go
gen/http/viewer/client/encode_decode.go
gen/http/viewer/client/paths.go
gen/http/viewer/client/types.go
gen/http/viewer/server/encode_decode.go
gen/http/viewer/server/paths.go
gen/http/viewer/server/server.go
gen/http/viewer/server/types.go
gen/openapi/client.go
gen/openapi/endpoints.go
gen/openapi/service.go
gen/sma_config/client.go
gen/sma_config/endpoints.go
gen/sma_config/service.go
gen/transformation_service/client.go
gen/transformation_service/endpoints.go
gen/transformation_service/service.go
gen/transformation_service/views/view.go
gen/view_service/client.go
gen/view_service/endpoints.go
gen/view_service/service.go
gen/view_service/views/view.go
gen/viewer/client.go
gen/viewer/endpoints.go
gen/viewer/service.go
gen/viewer/views/view.go
cmd/bo/http.go
cmd/bo/main.go
cmd/bo-cli/http.go
cmd/bo-cli/main.go
bo-cli
cmd/bo/__debug_bin
.vscode
